<header class="w-full h-[72px] fixed top-0 desktop:px-16 bg-[#fff] z-20 header">
    <nav class="h-[36px] w-[148px] absolute left-[1229px] top-[50%] translate-y-[-50%] flex items-center gap-5">
        <img alt="notification" src="notification.svg" class="cursor-pointer"/>
        <div class="flex gap-2 items-center cursor-pointer" >
            <app-avatar [text]="'AD'"/>
            <div class="flex flex-col">
                <p class="font-[500] text-[14px] leading-[16.94px]">Abdullah</p>
                <p class="font-[400] text-[12px] leading-[14.52px] text-[#898989]">Admin</p>
            </div>
        </div>
    </nav>
</header>
