<div class="w-[488px] h-[230px] shapeBorder rounded-smf flex items-center pl-12 gap-16 relative">
    <div class="chart-container relative">
        <canvas id="doughnutChart" width="144" height="144" class="rotate-[270deg]"></canvas>
        <div class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
            <h5 class="font-[400] text-[8.91px] leading-[10.78px] text-[#898989] text-center">Leaves</h5>
            <p class="font-[700] text-[14.09px] leading-[17.05px] text-[#17181A] text-center">123K Days</p>
        </div>
    </div>
    <div class="flex flex-col gap-7">
        <div class="flex gap-3 items-center">
            <div class="w-[2.88px] h-[38.59px] bg-primary rounded-sm" ></div>
            <div class="flex flex-col gap-[2.3px]">
                <h5 class="font-[600] text-[9.22px] leading-[10.94px] text-[#809FB8]">Scheduled</h5>
                <p class="font-[700] text-[20.73px] leading-[25.34px] text-[#17181A] ">56.423 Days</p>
            </div>
        </div>
        <div class="flex gap-3 items-center">
            <div class="w-[2.88px] h-[38.59px] bg-[#5C69A0] rounded-sm" ></div>
            <div class="flex flex-col gap-[2.3px]">
                <h5 class="font-[600] text-[9.22px] leading-[10.94px] text-[#809FB8]">Unscheduled</h5>
                <p class="font-[700] text-[20.73px] leading-[25.34px] text-[#17181A] ">1.256 Days</p>
            </div>
        </div>
    </div>
    <img src="note.svg" class="w-6 h-6 absolute top-6 right-6" />
</div>
