<div class="w-[1089px] mt-[15px] ml-[15px] flex gap-6 flex-col items-center p-5">
    <img src="em.svg" class="w-[50px] h-[48px]" />
    <div class="text-center flex flex-col gap-2">
        <h1 class="font-[600] text-[24px] leading-[29.05px]">Employee Management</h1>
        <p class="font-[400] text-[16px] leading-[19px] text-[#5A5A5A]">Predict workforce trends and behaviors using data analysis.</p>
    </div>
    <div class="flex gap-4">
        <button class="bg-[#fff] text-[15px] leading-[18.15px] h-[48px] p-[15px] rounded-[9.11px] btn">Attendance</button>
        <button class="bg-[#fff] text-[15px] leading-[18.15px] h-[48px] p-[15px] rounded-[9.11px] btn-active">Leaves</button>
        <button class="bg-[#fff] text-[15px] leading-[18.15px] h-[48px] p-[15px] rounded-[9.11px] btn">Attendance Behavior</button>
    </div>
</div>
