<div class="w-[261px] h-[230px] shapeBorder rounded-smf pt-[31px] px-6">
    <div class="flex justify-between">
        <p class="font-[700] text-[26.38px] leading-[31.93px]">43%</p>
        <img src="completed.svg" />
    </div>
    <p class="font-[400] text-[15.39px] leading-[18.62px] text-[#898989] mt-2">
        Leave Used
    </p>
    <div class="mt-6 pt-3">
        <div class="h-[30px] bg-[#F1F4F9] rounded-[1.81px] relative">
            <div class="w-[45%] bg-primary h-full rounded-tl-[1.81px] rounded-bl-[1.81px]"></div>
            <hr class="rotate-90 w-[42px] absolute left-[80%] top-[8px] h-[0.91px] text-[#17181A]"/>
            <p class="font-[400] text-[7.93px] leading-[9.6px] text-[#5A5A5A] absolute right-0 top-[-25px]">Scheduled</p>
        </div>
        <hr class="h-[0.63px] text-[#DCDCDC] mt-[6px] mb-[3px]"/>
        <div class="flex justify-between">
            <div class="flex flex-col gap-[3px]">
                <p class="manrope font-[500] text-[9.04px] leading-[13.56px] text-[#626D7C]">This year</p>
                <p class="manrope font-[600] text-[20.34px] leading-[15.82px] text-[#000]">563K Days</p>
                <div class="flex gap-1 items-center h-[16px]">
                    <img src="arrow-down.svg" class="w-[11.3px] h-[11.3px]"/>
                    <p class="manrope font-[500] text-[10.17px] leading-[15.82px] text-[#C32518]">34%</p>
                </div>
            </div>
            <div class="flex flex-col gap-[3px]">
                <p class="manrope font-[500] text-[9.04px] leading-[13.56px] text-[#626D7C]">This month</p>
                <p class="manrope font-[600] text-[20.34px] leading-[15.82px] text-[#000]">123K Days</p>
                <div class="flex gap-1 items-center h-[16px]">
                    <img src="arrow-up.svg" class="w-[11.3px] h-[11.3px]"/>
                    <p class="manrope font-[500] text-[10.17px] leading-[15.82px] text-[#00823E]">23%</p>
                </div>
            </div>
        </div>
    </div>
</div>
