.rounded-caret {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #000; /* Change color here */
  border-radius: 50%; /* Adds rounded corners */
  transform: rotate(0deg);
}
/* th,
td {
  width: calc(100% / 6);
} */
