<div class="shapeBorder w-[1041px] h-[588px] rounded-smf top-[1354px] px-3 py-4  absolute">
    <div class="px-6">
        <div class="flex flex-col">
            <h3 class="font-[600] text-[16.36px] leading-[19.8px] text-[#17181A]">More Details</h3>
            <p class="font-[400] text-[13.3px] leading-[14.32px] text-[#809FB8]">Further Breakdown</p>
        </div>
        <div class="relative mt-3">
            <label><img src="search.svg" class="absolute top-[50%] left-[13px] translate-y-[-50%]" /> </label>
            <input type="text" placeholder="search" class="w-[217px] focus:outline-[#809FB8] h-[30px] bg-[#fff] rounded-[6.78px] pr-[13.57px] pl-[40px]  border-[0.68px] border-[#BABABA] font-[600] text-[10.85px] leading-[12.89px] text-[#809FB8] placeholder:text-[#809FB8]"/>
        </div>
        <div class="mt-6">
            <table class="w-full flex flex-col gap-7">
                <thead>
                    <tr class="h-[39px] w-full bg-[#F1F4F9] px-3 text-center rounded-[8.53px] flex justify-between items-center font-[600] text-[12.8px] leading-[15.35px] text-[#99B2C6]">
                        <th class="justify-center flex items-center gap-3">Employee Name
                            <div class="flex flex-col  text-[7px]">
                                <button class="translate-y-[5px]">&#9650;</button>
                                <button class="translate-y-[-5px]">&#9660;</button>
                            </div>
                        </th>
                        <th class="justify-center flex items-center gap-3">Department
                            <div class="flex flex-col  text-[7px]">
                                <button class="translate-y-[5px]">&#9650;</button>
                                <button class="translate-y-[-5px]">&#9660;</button>
                            </div>
                        </th>
                        <th class="justify-center flex items-center gap-3">Grades
                            <div class="flex flex-col text-[7px]">
                                <button class="translate-y-[5px]">&#9650;</button>
                                <button class="translate-y-[-5px]">&#9660;</button>
                            </div>
                        </th>
                        <th class="justify-center flex items-center gap-3">Gender
                            <div class="flex flex-col  text-[7px]">
                                <button class="translate-y-[5px]">&#9650;</button>
                                <button class="translate-y-[-5px]">&#9660;</button>
                            </div>
                        </th>
                        <th class="justify-center flex items-center gap-3">Tenure
                            <div class="flex flex-col  text-[7px]">
                                <button class="translate-y-[5px]">&#9650;</button>
                                <button class="translate-y-[-5px]">&#9660;</button>
                            </div>
                        </th>
                        <th class="justify-center flex items-center gap-3">Leave Balance
                            <div class="flex flex-col  text-[7px]">
                                <button class="translate-y-[5px]">&#9650;</button>
                                <button class="translate-y-[-5px]">&#9660;</button>
                            </div>
                        </th>
                      </tr>
                </thead>
                  <tbody class="flex flex-col gap-7">
                    <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[50%] bg-[rgba(102,44,145,60%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[80%] bg-[rgba(102,44,145,100%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[30%] bg-[rgba(102,44,145,30%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[80%] bg-[rgba(102,44,145,100%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[20%] bg-[rgba(102,44,145,20%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[40%] bg-[rgba(102,44,145,40%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[50%] bg-[rgba(102,44,145,60%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      <tr class=" w-full px-3 flex gap-[44px] items-center  font-[400] text-[14.37px] leading-[17.4px]">
                        <td class="text-center flex w-[123px] font-[500] gap-2 items-center">
                            <div class="w-[19.91px] h-[20.07px] bg-primary rounded-full font-[500] text-[9.95px] leading-[11.71px] text-[#fff] text-center content-center">NA</div>
                            Sara Ahmed
                        </td>
                        <td class="text-center w-[123px]">HR</td>
                        <td class="text-center w-[123px]">Entry Level</td>
                        <td class="text-center w-[123px]">Female</td>
                        <td class="text-center w-[123px]">3 years</td>
                        <td class="w-[149px] h-[18px] bg-[#F1F4F9] rounded-tr-[2.05px] rounded-br-[2.05px]"><div class="w-[35%] bg-[rgba(102,44,145,35%)] h-full rounded-tl-[2.05px] rounded-bl-[2.05px]"></div></td>
                      </tr>
                      
                  </tbody>
            </table>
        </div>
    </div>
</div>
